    <div class="brother-guestbook-container">
        <div class="brother-guestbook-panel-container">
            <h1>Отзывы</h1>
            {{ sonata_block_render_event('breadcrumb', { 'context': 'cms_breadcrumbs', 'current_uri': app.request.requestUri }) }}

            {% if entries|length > 0 %}
				{% for entry in entries %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class="brother-guestbook-author">{{ entry.name }}</span>
								<span class="brother-guestbook-date">
									{{ entry.createdAt is empty ? '' :  entry.createdAt|date(date_format) }}
								</span>
							</h3>
						</div>
						<div class="panel-body">
							{{ entry.comment|nl2br }}
						</div>
					</div><!-- /panel -->
				{% endfor %}
            {% endif %}

        <a class="btn btn-success"
           onclick="bindingsUtil.sendPost('{{ path('brother_guestbook_new_dialog') }}');"
                >Добавить отзыв</a>
        </div>
    {{ pagination_html }}
    </div>

